body > header {
  box-shadow: 0 1px 0 0 var(--color-grey-50), var(--box-shadow-s);
  display: grid;
  place-items: stretch;
  align-content: start;
  justify-content: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto auto;
  padding: var(--space-2x) var(--space-3x);
  width: 100%;
  z-index: 10;

  & .logo {
    display: flex;
    align-items: center;
    gap: var(--space);
    color: var(--color-grey-500);
    font-family: var(--font-sans);
    font-size: var(--font-size-50);
    font-weight: 700;
    text-decoration: none;
    & svg {
      height: var(--space-3x);
      width: var(--space-3x);
      fill: currentColor;
      stroke-width: 0;
    }
    &:hover { color: var(--color-info-500); }
  }
  & nav[aria-label="site"] {
    margin: var(--space-3x) 0 0;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    text-align: center;
  }

  & nav[aria-label="links"] { text-align: right; }

  @media screen and (min-width: 680px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: auto;

    & nav[aria-label="site"] {
      margin: 0;
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }

    & nav[aria-label="links"] { grid-column: 3 / span 1; }
  }
}