body > footer { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--space-2x) var(--space-3x) var(--space-2x);
  box-shadow: 0 1px 0 0 var(--color-grey-50) inset;
}

body > footer button,
body > footer input[type="submit"],
body > footer input[type="button"],
body > footer input[type="reset"],
body > footer [role="button"],
body > footer a[role="button"] {
  margin-bottom: 0;
}

body > footer  * {
  margin-bottom: 0;
}

body > footer a:any-link {
  text-decoration: none;
  color: var(--color-grey-600);
}

body > footer a:any-link:hover {
  color: var(--color-grey-700);
  text-decoration: underline;
}

body > footer nav {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

body > footer nav > * {
  margin: 0 0 0 var(--space-2x);
}
