/* main */

main {
  width: 100%;
  padding: 0 var(--space-3x);
}

main p {
  max-width: 65ch;
}

main > header {
  position: relative;
  margin: 0;
  padding: var(--space-6x) 0;
}

main > header picture {
  position: relative;
  overflow: visible;
  display: block;
  width: 176px;
  float: right;
  margin: 0 0 var(--space-3x) var(--space-3x);
  padding: var(--space-3x);
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
      var(--color-info-500),
      var(--color-success-500),
      var(--color-warning-500),
      var(--color-danger-500),
      var(--color-info-500)
    );
    filter: blur(var(--space-6x));
    z-index: -1;
    border-radius: 50%;
  }
}


main > header picture svg {
  fill: var(--color-grey-50);
}

main > header > [role="button"]  {
  margin-top: var(--space-3x) !important;
}

/* main section */ 
main > section {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--space-3x) * -1);
  margin-right:  calc(var(--space-3x) * -1);
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 1px var(--color-grey-50);
}

main > section > header {
  margin: 0;
  width: 100%;
  padding: var(--space-6x) 0;
  color: var(--color-grey-600);
  font-weight: 700;

  display: flex;
  align-items: center;
  min-height: var(--space-6x);
  width: calc(100% + var(--space-6x));
  padding: var(--space) var(--space-3x);
  box-shadow: 0 1px 0 0 var(--color-grey-50);
  color: var(--color-grey-500);
}

main > section > aside {
  flex: 2;
  background: var(--color-grey-50);
  font-size: calc(var(--space) / ratio);
  overflow: hidden;
  min-width: 300px;
  padding: var(--space-6x)  var(--space-3x);
}

main > section > aside code[class*="language-"],
main > section > aside pre[class*="language-"] {
  background: transparent;
  font-size: calc(var(--base-font-size) / var(--ratio));
  padding: 8px 0 16px;
}

main > section > div {
  flex: 3;
  position: relative;
  padding: var(--space-3x) var(--space-3x);
  min-width: 300px;
}

main > section + section {
  margin-top: 0;
}

main > section.is-demo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--color-grey-20);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 100;
  overflow: visible;
  text-align: center;
}
 

main > section.is-demo > div {
  padding-top: var(--space-2x);
  padding-bottom: var(--space-2x);
}

@media screen and (min-width: 900px) {
  main {
    padding: 0 var(--space-6x);
  }

  main > header {
    padding: var(--space-6x) 0 var(--space-9x);
  }

  main > header picture {
    width: 320px;
    height: 320px;
    padding: var(--space-6x);
  }
    
  main > section {
    margin-left: calc(var(--space-6x) * -1);
    margin-right: calc(var(--space-6x) * -1);
  }

  main > section > header {
    padding: var(--space) var(--space-6x);
  }

  main > section > div {
    padding: var(--space-6x) var(--space-6x);
  }

  main > section > aside {
    padding: var(--space-6x);
  }
}
