.accordion {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.3s;

  & > * + * { box-shadow: 0 -1px 0 0 var(--color-grey-50); }

  & > button:has(+ [role="region"]) {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    background: none;
    border-radius: 0;
    box-shadow: 0 1px 0 0 var(--color-grey-300) inset;
    color: var(--color-grey-700);
    font-size: 1rem;
    font-weight: var(--font-weight-400);
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      right: 2em;
      top: 50%;
      width: 0.5rem;
      height: 0.5rem; 
      border: solid var(--color-grey-300);
      border-width: 0 2px 2px 0;
      transform: translateY(-60%) rotate(45deg);
      pointer-events: none;
      transition: transform ease-in-out 0.2s;
    }

    &:hover,
    &:focus {
      box-shadow: 0 1px 0 0 var(--color-grey-300) inset;
      background: none;
      color: var(--color-grey-900);
      &::after { border-color: var(--color-grey-500); }
    }

    &[aria-expanded="false"] {
      background: transparent;
      color: inherit;
    }

    &[aria-expanded="true"] {
      background: transparent;
      box-shadow: 0 1px 0 0 var(--color-grey-300) inset;
      color: inherit;
      &::after {
        transform: translateY(-50%) rotate(-135deg);
        border-color: var(--color-grey-500);
      }
    }
  }
  > [role="region"] {
    margin: 0;
    padding: 1em 1.5em;
  }
}