[role="alert"] {
  display: flex;
  align-items: center;
  color: rgba(var(--color-grey-600), 1);
  background: rgba(var(--color-grey-50), 1);
  border-left: var(--space-1-2) solid  rgba(var(--color-grey-400), 1);
  border-radius: var(--border-radius-s, 0);
  box-shadow: var(--box-shadow-m);
  padding: calc(var(--space) * 1.5 ) var(--space-3x);

  &:empty { display: none; }

  & a:any-link {
    color: inherit;
    text-decoration: underline;
    &:hover { color: rgba(var(--color-grey-800), 1); }
  }

  & p {
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    padding: 0;
    max-width: none;
  }

  & + * { margin-top: var(--space-6x); }

  & > svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-right: var(--space-3x);
    fill: none;
    stroke: currentColor;
    stroke-width: 2; 
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &.is-info {
    background: rgba(var(--color-blue-50), 1);
    color: rgba(var(--color-blue-600), 1);
    border-color: rgba(var(--color-blue-100), 1);
    border-left-color: rgba(var(--color-blue-400), 1);

    & :any-link:hover { color: rgba(var(--color-blue-700), 1); }
    & > svg { stroke: rgba(var(--color-blue-500), 1); }
  }

  &.is-success {
    background: rgba(var(--color-green-50), 1);
    color: rgba(var(--color-green-600), 1);
    border-color: rgba(var(--color-green-100), 1);
    border-left-color: rgba(var(--color-green-400), 1);

    & :any-link:hover { color: rgba(var(--color-green-700), 1); }
    & > svg { stroke: rgba(var(--color-green-500), 1); }
  }

  &.is-error {
    background: rgba(var(--color-red-50), 1);
    color: rgba(var(--color-red-600), 1);
    border-color: rgba(var(--color-red-100), 1);
    border-left-color: rgba(var(--color-red-400), 1);

    & :any-link:hover { color: rgba(var(--color-red-700), 1); }
    & > svg { stroke: rgba(var(--color-red-500), 1); }
  }

  &.is-warning {
    background: rgba(var(--color-yellow-50), 1);
    color: rgba(var(--color-yellow-600), 1);
    border-color: rgba(var(--color-yellow-100), 1);
    border-left-color: rgba(var(--color-yellow-400), 1);

    & :any-link:hover { color: rgba(var(--color-yellow-700), 1); }
    & > svg { stroke: rgba(var(--color-yellow-500), 1); }
  }

  * + & { margin-top: var(--space-3x); }
}