/* components/avatar.css */
.avatar,
a.avatar {
  display: block;
  position: relative;
  height: var(--space-5x);
  width: var(--space-5x);
  background: rgba(var(--color-grey-50), 1);
  border-radius: 50%;
  box-shadow: 0 0 0 var(--space-1-4) rgba(var(--color-bg), 1);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  line-height: var(--space-5x);

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(var(--color-black), 0.1) inset;
  }

  & img {
    margin: 0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &.is-large {
    height: var(--space-9x);
    width: var(--space-9x);
    line-height: var(--space-9x);
  }
}

.avatar-group {
  padding: 0;

  & li {
    list-style-type: none;
    height: var(--space-5x);

    & + li { margin-left: calc(var(--space) * -1); }
  }

  & .avatar:hover { z-index: 20; }
}