.breadcrumb {
  & ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  & li { 
    display: inline;
    & + li::before {
      content: '';
      display: inline-block;
      margin: 0 var(--space);
      transform: rotate(20deg);
      border-right: 1px solid var(--color-grey-400);
      height: 0.75em;
    }
    &:last-child {
      color: var(--color-grey-700);
      font-weight: 700;
    }
  }
}