.slider {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: calc(var(--space-4x) - 2px);
  height: calc(var(--space-2x) - 2px);
  background-color: var(--color-grey-00);
  box-shadow: 0 0 0 1px var(--color-grey-200),
    var(--box-inset-shadow-s);
  border-radius: var(--space);
  margin-left: var(--space);
  transition: .3s;

  &::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 4px;
    left: 3px;
    bottom: 3px;
    background-color: var(--color-grey-300);
    box-shadow: var(--box-shadow-m);
    transition: .3s;
  }
}

.switch {
  position: relative;
  display: flex;
  width: auto;
  line-height: 40px;
  text-align: center;
  padding: 0 24px 0 24px;

  &:focus {
    color: var(--color-grey-700);
    outline: 2px solid var(--color-info-200);
  }

  &[aria-pressed="true"] {
    & .slider {
      background: var(--color-info-100);
      box-shadow: 0 0 0 1px var(--color-info-400);

      &::before {
        transform: translateX(var(--space-2x));
        background-color: var(--color-info-500);
      }
    }
  }
}