:where(.card) {
  background: var(--color-grey-20);
  border: 0;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px inset var(--color-grey-50), var(--box-shadow-s);
  padding: var(--space-3x);
  list-style-type: none;
  overflow: hidden;

  & > header {
    display: flex;
    align-items: center;
    min-height: var(--space-6x);
    width: calc(100% + var(--space-6x));
    border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0; 
    padding: var(--space) var(--space-3x);
    margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
    box-shadow: 0 1px 0 0 var(--color-grey-50);
    color: var(--color-grey-500);

    &  > * {
      margin: 0 var(--space-1-2);
      padding: 0;
      text-transform: none;
      letter-spacing: 0;
      font-size: var(--font-size-50);
      line-height: var(--space-3x);
    }
  }

  & > picture {
    margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
    width: calc(100% + var(--space-6x));
    max-width: unset;
  }

  & > footer {
    box-shadow: 0 -1px 0 0 var(--color-grey-50);
    border-radius: 0 0 var(--border-radius-m, 0) var(--border-radius-m, 0);
    margin: var(--space-3x) calc(var(--space-3x) * -1) calc(var(--space-3x) * -1);
    padding: var(--space-2x) calc(var(--space-3x)  - 1px);
    width: calc(100% + var(--space-6x));
  }

  & > aside {
    background: var(--color-grey-50);
    min-width: 300px;
    padding: var(--space-3x);
  }
}