input[type='checkbox'].is-switch {
  width: 32px;
  border-radius: 11px;
  background: var(--color-grey-20);

  &::after {
    opacity: 1;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: var(--color-grey-300);
    transform: translateX(var(--x, 0));
    border: 0;
  }
  &:checked {
    background: var(--color-info-500);
    --x: var(--space-2x);
    &::after {
      background: var(--color-grey-00);
    }
  }
  &:disabled:not(:checked) { background: var(--color-grey-200); }
}