/* Backdrop */

.dialog-backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(var(--color-grey-300), .7);
  z-index: var(--z-40, 90);
  animation: backdrop 0.1s cubic-bezier(0.165, 0.840, 0.440, 1.000);

  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dialog-backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(var(--color-grey-300), .7);
  }
}

/* Modale */

[role="dialog"],
[role="alertdialog"] {
  position: relative;
  padding: var(--space-3x);
  background-color: rgba(var(--color-bg), 1);
  border: 1px solid rgba(var(--color-grey-35), 1);
  border-radius: var(--border-radius-m, 0);
  min-width: 480px;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  animation: modale 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
  
[role="dialog"] > header,
[role="alertdialog"] > header {
  width: calc(100% + var(--space-6x));
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0;
  margin: calc(var(--space-3x) * -1) calc(var(--space-3x) * -1) calc(var(--space-3x) * 1);
  padding: calc(var(--space) * 1.5 - 1px) calc(var(--space-3x)  - 1px) calc(var(--space) * 1.5 - 1px);
  border-bottom: 1px solid rgba(var(--color-grey-50), 1);
  color: rgba(var(--color-grey-500), 1);
}

[role="dialog"] > header button,
[role="alertdialog"] > header button {
  margin-left: auto;
}

[role="dialog"] > footer,
[role="alertdialog"] > footer {
  background: rgba(var(--color-grey-50), 1);
  width: calc(100% + var(--space-6x));
  border-radius: 0 0 var(--border-radius-m, 0) var(--border-radius-m, 0);
  margin: var(--space-3x) calc(var(--space-3x) * -1) calc(var(--space-3x) * -1);
  padding: calc(var(--space) * 1.5 - 1px) calc(var(--space-3x)  - 1px) calc(var(--space) * 1.5 - 1px);
  border-top: 1px solid rgba(var(--color-grey-50), 1);
}

@media screen and (min-width: 640px) {
  [role="dialog"],
  [role="alertdialog"] {
    min-width: 640px;
    min-height: auto;
    box-shadow: var(--box-shadow-l);
    background-color: rgba(var(--color-bg), 1);
  }
}

@keyframes modale {
  0% {
    top: -48px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}