/* components/group.css */

[role="group"] {
  display: flex;
  align-items: flex-end;
  border-radius: var(--border-radius-s, 0);
  border-radius: 4px;
  max-width: 100%;
}

[role="group"] > * {
  border-radius: 0;
  margin: auto 0 0;
}

[role="group"] > *.is-small,
[role="group"] > *.is-large {
  border-radius: 0;
}

[role="group"] > *:first-child {
  border-radius: var(--border-radius-s, 0) 0 0 var(--border-radius-s, 0);
}

[role="group"] > *:last-child {
  border-radius: 0 var(--border-radius-s, 0) var(--border-radius-s, 0) 0;
}

[role="group"]  > picture {
  border-radius: 0;
  margin: auto 0 0;
}

[role="group"]  > picture:first-child {
  border-radius: 0;
}

[role="group"]  > picture:last-child {
  border-radius: 0;
}

[role="group"] > .input {
  margin: auto var(--space) 0 0;
}

[role="group"] > .input:last-child {
  margin: auto 0 0 0;
}   

[role="group"]  > label {
  margin: 0;
}

[role="group"].is-block {
  width: 100%;
}

[role="group"].is-block  > * {
  flex: 1;
}
