.menubutton {
  position: relative;
  display: inline-block;

  & > button,
  & > input[type="submit"],
  & > input[type="button"],
  & > input[type="reset"],
  & > [role="button"],
  & > :any-link[role="button"] {
    position: relative;
    margin: 0;
    &:after {
      content: '';
      margin-left: var(--space-2x);
      display: block;
      box-sizing: border-box;
      width: 0.5em;
      height: 0.5em;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: translateY(-0.1em) rotate(45deg);
      transition: all 0.2s ease-in-out;
    }
    &[aria-expanded="true"]:after { transform: translateY(0.1em) rotate(-135deg); }
  }
  & > [role="menu"] {
    position: absolute;
    z-index: 1000;
    top: var(--space-7x);
    left: 0;
    margin: 0;
    padding: var(--space, 0) 0;
    border-radius: var(--border-radius-m, 0);
    width: auto;
    background: var(--color-grey-00);
    box-shadow: var(--box-shadow-l);
    border: 1px solid var(--color-grey-50);
    visibility: hidden;
    opacity: 0;
    transition: all .2s cubic-bezier(0,0.1,0.5,1);
    transform: scaleY(0.833) skewX(2deg);
    transform-origin: 100% 0%;
    &:after,
    &:before {
      bottom: 100%;
      left: var(--space-3x);
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: transparent;
      border-bottom-color: var(--color-grey-00);
      border-width: 6px;
      margin-left: -6px;
    }
    &:before {
      border-color: transparent;
      border-bottom-color: var(--color-grey-50);
      border-width: 8px;
      margin-left: -8px;
    }
    & [role="menuitem"] {
      display: block;
      padding: 0px 16px;
      background: var(--color-grey-00);
      &:hover,
      &:focus {
        background: var(--color-grey-50);
        color: var(--color-grey-700);
      }
    }
    &.is-right {
      left: auto;
      right: 0;
      &:before {
        right: 24px;
        left: auto
      }
    }
  }
  & [aria-expanded="true"]  + [role="menu"],
  & > [role="menu"]:focus-within {
    visibility: visible;
    opacity: 1;
    top: var(--space-6x);
    top: var(--space-7x);
    transform: scaleY(1) skewX(0deg);
  }
}