ul[role="menubar"] {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  & [role="separator"] {
    padding-top: 0.15em;
    background-position: center;
    background-repeat: repeat-x;
  }
  & :any-link[role="menuitem"]{
    &:not(.button) {
      display: block;
      padding: var(--space);
      white-space: nowrap;
    }
    &[aria-haspopup="true"] { 
      padding-right: 24px;
      &:after {
        grid-area: select; 
        content: "";
        width: var(--space);
        height: var(--space-1-2);
        position: absolute;
        right: var(--space);
        top: 20px;
        background-color: var(--color-grey-400);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
    }
  }
  & ul[role="menu"] {
    display: none;
    position: absolute;
    z-index: 1000;
    top: var(--space-5x);
    left: var(--space);
    margin: 0;
    min-width: 180px;
    padding: var(--space) 0;
    border-radius: var(--border-radius-m, 0);
    width: auto;
    background: var(--color-grey-20);
    box-shadow: var(--box-shadow-m, none);
    border: 1px solid var(--color-grey-50);
  
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: var(--space-3x);
      margin-left: -6px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent var(--color-grey-50) transparent;
    }
    & li :any-link[role="menuitem"] {
      display: block;
      padding: 0 var(--space-2x);
      background: var(--color-grey-20);
      &:hover,
      &:focus {
        background: var(--color-grey-50);
      }
    }
  }
  & :any-link[role="menuitem"][aria-haspopup="true"]:hover ~ ul[role="menu"],
  & ul[role="menu"]:hover {
    display: block;
  }
}



