/* components/menu.css */

[role="menu"] {
  text-align: left;
  color: var(--color-grey-500);
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 6px 0 18px;
  text-transform: none;
  font-size: var(--font-size-50);
  letter-spacing: 0.03em;
  & .menu__title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--font-size-30);
    display: inline-block;
    transform: translateY(2px);
    padding: 0;
  }
  & [role="menu"] {
    margin: 0 0 var(--space-3x);
    padding: 0;
  }

  &.is-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2x);
    padding: 0;
  }
}

li[role="menuitem"] {
  display: flex;
  flex-direction: column;
}

a[role="menuitem"]:not(.button) {
  padding: 0;
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  color: var(--color-grey-700);
  display: flex;
  align-items: center;
  &:hover { color: var(--color-grey-800); }
  &[aria-current="true"] {
    background: var(--color-grey-100);
    color: var(--color-info-700);
  }
}