[role="tablist"] {
  display: flex;
  box-shadow: 0 1px 0 0 var(--color-grey-100);
  padding: 0;
  margin: 0 0 -1px;
}

[role="tab"] {
  padding: calc(var(--space) - 1px) var(--space-3x) calc(var(--space-2x) + 1px);
  color: var(--color-grey-500);
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius-m, 0) var(--border-radius-m, 0) 0 0;
  list-style-type: none;
  margin-bottom: 2px;
  &:hover { color: var(--color-grey-600); }
  &[aria-selected="true"],
  &[aria-selected="true"]:hover {
    cursor: default;
    background: var(--color-grey-20);
    color: var(--color-info-600);
    box-shadow:
      0 2px 0 0 var(--color-grey-20),
      0 0 0 1px var(--color-grey-100);
  }
}

[role="tabpanel"] {
  padding: var(--space-3x);
  background: var(--color-grey-20);
  border: 0;
  box-shadow: 0 -1px 0 0 var(--color-grey-100);
  &[aria-hidden="true"] { display: none; }
}