:root,
.theme-light {
  --color-grey-00: oklch(100% 0 269);
  --color-grey-20: oklch(99% 0.01 269);
  --color-grey-35: oklch(97% 0.01 269);
  --color-grey-50: oklch(95% 0.01 269);
  --color-grey-100: oklch(93% 0.01 269);
  --color-grey-200: oklch(89.34546875% 0.01 269);
  --color-grey-300: oklch(72.15796875% 0.02 269);
  --color-grey-400: oklch(58.87671875% 0.03 269);
  --color-grey-500: oklch(0.47 0.03 269);
  --color-grey-600: oklch(42.67578125% 0.03 269);
  --color-grey-700: oklch(32.51953125% 0.03 269);
  --color-grey-800: oklch(24.12109375% 0.03 269);
  --color-grey-900: oklch(22% 0.03 269);

  --color-info-50: oklch(95% 0.05 269);
  --color-info-100: oklch(92.27515625% 0.07 269);
  --color-info-200: oklch(89.54078125% 0.1 269);
  --color-info-400: oklch(63.36890625% 0.13 269);
  --color-info-500: oklch(0.52 0.15 269);
  --color-info-600: oklch(47.55859375% 0.17 269);
  --color-info-700: oklch(38.37890625% 0.2 269);

  --color-success-50: oklch(95% 0.05 149);
  --color-success-100: oklch(93% 0.07 149);
  --color-success-200: oklch(87.78296875% 0.1 149);
  --color-success-400: oklch(59.85328125% 0.13 149);
  --color-success-500: oklch(0.49 0.15 149);
  --color-success-600: oklch(45.60546875% 0.17 149);
  --color-success-700: oklch(36.03515625% 0.2 149);

  --color-warning-50: oklch(95% 0.05 89);
  --color-warning-100: oklch(93% 0.07 89);
  --color-warning-200: oklch(89.34546875% 0.1 89);
  --color-warning-400: oklch(59.07203125% 0.13 89);
  --color-warning-500: oklch(0.52 0.15 89);
  --color-warning-600: oklch(47.16796875% 0.17 89);
  --color-warning-700: oklch(37.79296875% 0.2 89);

  --color-danger-50: oklch(95% 0.05 29);
  --color-danger-100: oklch(93% 0.07 29);
  --color-danger-200: oklch(90.12671875% 0.1 29);
  --color-danger-400: oklch(61.22046875% 0.13 29);
  --color-danger-500: oklch(0.49 0.15 29);
  --color-danger-600: oklch(44.04296875% 0.17 29);
  --color-danger-700: oklch(33.30078125% 0.2 29);

  --color-cyan-500: oklch(0.5 0.15 189);
  --color-orange-500: oklch(0.52 0.15 59);
  --color-fuschia-500: oklch(0.54 0.15 329);
  --color-purple-500: oklch(0.53 0.15 299);

  --color-shadow: oklch(5% 0.006 269 / 0.02);
  --color-backdrop: oklch(20% 0.006 269 / 0.7);
  --color-light: oklch(100% 0.006 269 / 0.2);
}

.theme-dark {
  --color-grey-00: oklch(0.17 0.01 269);
  --color-grey-20: oklch(0.19 0.01 269);
  --color-grey-35: oklch(21% 0.01 269);
  --color-grey-50: oklch(23% 0.01 269);
  --color-grey-100: oklch(28% 0.01 269);
  --color-grey-200: oklch(41.11328125% 0.01 269);
  --color-grey-300: oklch(67.07984375% 0.01 269);
  --color-grey-400: oklch(76.06421875% 0.02 269);
  --color-grey-500: oklch(0.84 0.02 269);
  --color-grey-600: oklch(86.80640625% 0.02 269);
  --color-grey-700: oklch(91.88453125% 0.02 269);
  --color-grey-800: oklch(96.57203125% 0.02 269);
  --color-grey-900: oklch(98% 0.02 269);

  --color-info-50: oklch(23% 0.05 269);
  --color-info-100: oklch(28% 0.09 269);
  --color-info-200: oklch(31% 0.09 269);
  --color-info-400: oklch(76.25953125% 0.09 269);
  --color-info-500: oklch(0.84 0.09 260);
  --color-info-600: oklch(87.00171875% 0.07 269);
  --color-info-700: oklch(91.88453125% 0.04 269);

  --color-success-50: oklch(23% 0.07 149);
  --color-success-100: oklch(28% 0.09 149);
  --color-success-200: oklch(40.13671875% 0.09 149);
  --color-success-400: oklch(74.69703125% 0.09 149);
  --color-success-500: oklch(0.83 0.09 149);
  --color-success-600: oklch(85.82984375% 0.07 149);
  --color-success-700: oklch(91.10328125% 0.04 149);

  --color-warning-50: oklch(23% 0.05 89);
  --color-warning-100: oklch(28% 0.09 89);
  --color-warning-200: oklch(41.11328125% 0.09 89);
  --color-warning-400: oklch(76.06421875% 0.09 89);
  --color-warning-500: oklch(0.84 0.09 89);
  --color-warning-600: oklch(86.80640625% 0.07 89);
  --color-warning-700: oklch(91.68921875% 0.04 89);

  --color-danger-50: oklch(23% 0.05 29);
  --color-danger-100: oklch(28% 0.09 29);
  --color-danger-200: oklch(41.89453125% 0.09 29);
  --color-danger-400: oklch(77.23609375% 0.09 29);
  --color-danger-500: oklch(0.85 0.09 29);
  --color-danger-600: oklch(87.78296875% 0.07 29);
  --color-danger-700: oklch(92.27515625% 0.04 29);

  --color-orange-500: oklch(0.85 0.05 59);
  --color-purple-500: oklch(0.85 0.09 299);
  --color-fuschia-500: oklch(0.86 0.09 329);
  --color-cyan-500: oklch(0.83 0.09 189);

  --color-backdrop: oklch(5% 0.006 269 / 0.7);
  --color-shadow: oklch(5% 0.015 269 / 0.1);
  --color-light: oklch(100% 0.006 269 / 0.1);
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --color-grey-00: oklch(0.17 0.02 269);
    --color-grey-20: oklch(0.19 0.02 269);
    --color-grey-35: oklch(21% 0.02 269);
    --color-grey-50: oklch(23% 0.02 269);
    --color-grey-100: oklch(28% 0.02 269);
    --color-grey-200: oklch(41.11328125% 0.02 269);
    --color-grey-300: oklch(67.07984375% 0.02 269);
    --color-grey-400: oklch(76.06421875% 0.02 269);
    --color-grey-500: oklch(0.84 0.02 269);
    --color-grey-600: oklch(86.80640625% 0.02 269);
    --color-grey-700: oklch(91.88453125% 0.02 269);
    --color-grey-800: oklch(96.57203125% 0.02 269);
    --color-grey-900: oklch(98% 0.02 269);

    --color-info-50: oklch(23% 0.05 269);
    --color-info-100: oklch(28% 0.09 269);
    --color-info-200: oklch(31% 0.09 269);
    --color-info-400: oklch(76.25953125% 0.09 269);
    --color-info-500: oklch(0.84 0.09 260);
    --color-info-600: oklch(87.00171875% 0.07 269);
    --color-info-700: oklch(91.88453125% 0.04 269);

    --color-success-50: oklch(23% 0.05 149);
    --color-success-100: oklch(28% 0.09 149);
    --color-success-200: oklch(40.13671875% 0.09 149);
    --color-success-400: oklch(74.69703125% 0.09 149);
    --color-success-500: oklch(0.83 0.09 149);
    --color-success-600: oklch(85.82984375% 0.07 149);
    --color-success-700: oklch(91.10328125% 0.04 149);

    --color-warning-50: oklch(23% 0.05 89);
    --color-warning-100: oklch(28% 0.09 89);
    --color-warning-200: oklch(41.11328125% 0.09 89);
    --color-warning-400: oklch(76.06421875% 0.09 89);
    --color-warning-500: oklch(0.84 0.09 89);
    --color-warning-600: oklch(86.80640625% 0.07 89);
    --color-warning-700: oklch(91.68921875% 0.04 89);

    --color-danger-50: oklch(23% 0.05 29);
    --color-danger-100: oklch(28% 0.09 29);
    --color-danger-200: oklch(41.89453125% 0.09 29);
    --color-danger-400: oklch(77.23609375% 0.09 29);
    --color-danger-500: oklch(0.85 0.09 29);
    --color-danger-600: oklch(87.78296875% 0.07 29);
    --color-danger-700: oklch(92.27515625% 0.04 29);

    --color-orange-500: oklch(0.85 0.05 59);
    --color-purple-500: oklch(0.85 0.09 299);
    --color-fuschia-500: oklch(0.86 0.09 329);
    --color-cyan-500: oklch(0.83 0.09 189);

    --color-backdrop: oklch(5% 0.006 269 / 0.7);
    --color-shadow: oklch(5% 0.015 269 / 0.1);
    --color-light: oklch(100% 0.006 269 / 0.1);
  }
}

body {
  background: var(--color-grey-20);
  color: var(--color-grey-500);
}

:focus-visible { outline: 2px solid var(--color-info-200); }
