:root {
  --box-shadow-s: 
    0 1px 1px 0 var(--color-shadow),
    0 1px 2px 0 var(--color-shadow);
  --box-shadow-m: 
    0 1px 1px 0 var(--color-shadow),
    0 1px 2px 0 var(--color-shadow),
    0 2px 4px -1px var(--color-shadow),
    0 4px 8px -2px var(--color-shadow);
  --box-shadow-l: 
    0 0px 2px 0 var(--color-shadow),
    0 1px 2px 0 var(--color-shadow),
    0 2px 4px -1px var(--color-shadow),
    0 4px 8px -2px var(--color-shadow),
    0 8px 16px -4px var(--color-shadow),
    0 16px 32px -8px var(--color-shadow);

  --box-inset-shadow-s: 0 1px 1px 0 var(--color-shadow) inset;  
  --box-inset-shadow-m: 0 1px 1px 0px var(--color-shadow) inset,
      0 2px 2px 1px var(--color-shadow) inset;
  --box-inset-shadow-l: 0 1px 1px 0px var(--color-shadow) inset,
        0 2px 2px 1px var(--color-shadow) inset,
      0 2px 8px 2px var(--color-shadow) inset;
}