*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --space: 0.5rem;

  --space-1-4: 0.125rem;
  --space-1-2: 0.25rem;

  --space-2x: 1rem;
  --space-3x: 1.5rem;
  --space-4x: 2rem;
  --space-5x: 2.5rem;
  --space-6x: 3rem;
  --space-7x: 3.5rem;
  --space-8x: 4rem;
  --space-9x: 4.5rem;
}

.is-flowing > * + * {
  margin-top: var(--space-3x);
}