/* design_tokens/space.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --space: 0.5rem;

  --space-1-4: calc(var(--space) / 4);
  --space-1-2: calc(var(--space) / 2);
  
  --space-2x: calc(var(--space) * 2);
  --space-3x: calc(var(--space) * 3);
  --space-4x: calc(var(--space) * 4);
  --space-5x: calc(var(--space) * 5);
  --space-6x: calc(var(--space) * 6);
  --space-7x: calc(var(--space) * 7);
  --space-8x: calc(var(--space) * 8);
  --space-9x: calc(var(--space) * 9);
}

.is-flowing > * + * {
  margin-top: var(--space-3x);
}