---
layout: default
title: Ariato
---
<header>
  <h1>alerts</h1>
  <pre><p><span class="badge is-success">CSS</span> components/alerts.css</p></pre>
</header>

<section>
  <div id="example-alert">
    <div role="alert">
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <a href="#">Donec faucibus</a>.</p>
    </div>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-alert"></code></pre>
  </aside>
</section>

<section>
  <div id="example-alert-1">
    <div role="alert" class="is-info">
      {% include svg/icons/info.svg %}
      <p>Lorem ipsum dolor sit amet, <a href="#">adipiscing elit</a>.</p>
    </div>
  </div>
  <aside> 
    <pre class="language-markup"><code data-code-example="example-alert-1"></code></pre>
  </aside>
</section>

<section>
  <div id="example-alert-2">
    <div role="alert" class="is-success">
      {% include svg/icons/check-circle.svg %}
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <a href="#">Donec faucibus</a>.</p>
    </div>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-alert-2"></code></pre>
  </aside>
</section>

<section>
  <div id="example-alert-3">
    <div role="alert" class="is-warning">
      {% include svg/icons/alert-circle.svg %}
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <a href="#">Donec faucibus</a>.</p>
    </div>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-alert-3"></code></pre>
  </aside>
</section>

<section>
  <div id="example-alert-4">
    <div role="alert" class="is-error">
      {% include svg/icons/x-circle.svg %}
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <a href="#">Donec faucibus</a>.</p>
    </div>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-alert-4"></code></pre>
  </aside>
</section>