---
layout: default
title: Ariato
---
<header>
  <h1>avatar</h1>
  <pre><p><span class="badge is-success">CSS</span> components/avatar.css</p></pre>
</header>

<section>
  <div id="example-avatar">
    <a href="#" class="avatar" title="Sir Tim Berners-Lee">
      <img src='/assets/images/avatar/Sir_Tim_Berners-Lee.jpg' alt="Sir Tim Berners-Lee" />
    </a>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-avatar"></code></pre>
  </aside>
</section>

<section>
  <header>Avatar group</header>
  <div id="example-avatar-group">
    <ul role="group" class="avatar-group">
      <li>
        <a href="#" class="avatar" title="Sir Tim Berners-Lee">
          <img src='/assets/images/avatar/Sir_Tim_Berners-Lee.jpg' alt="Sir Tim Berners-Lee" />
        </a>
      </li>
      <li>
        <a href="#" class="avatar" title="Håkon Wium Lie">
          <img src='/assets/images/avatar/Hakon-Wium-Lie.jpg' alt="Håkon Wium Lie" />
        </a>
      </li>
      <li>
        <a href="#" class="avatar" title="Brendan Eich">
          <img src='/assets/images/avatar/Brendan_Eich.jpg' alt="Brendan Eich" />
        </a>
      </li>
      <li>
        <a href="#" class="avatar" title="10 more members">
          +10
        </a>
      </li>
    </ul>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-avatar-group"></code></pre>
  </aside>
</section>

<section>
  <header>.avatar.is-large</header>
  <div id="example-avatar-large">
    <a href="#" class="avatar is-large" title="Sir Tim Berners-Lee">
      <img src='/assets/images/avatar/Sir_Tim_Berners-Lee.jpg' alt="Sir Tim Berners-Lee" />
    </a>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-avatar-large"></code></pre>
  </aside>
</section>

