---
layout: default
title: Ariato
---
<header>
  <h1>badge</h1>
  <pre><p><span class="badge is-success">CSS</span> components/badge.css</p></pre>
</header>

<section>
  <div id="example-badge">
    <span class="badge">Lorem</span>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-badge"></code></pre>
  </aside>
</section>

<section>
  <div id="example-badge-info">
    <span class="badge is-info">Lorem</span>
  </div>
  <aside> 
    <pre class="language-markup"><code data-code-example="example-badge-info"></code></pre>
  </aside>
</section>

<section>
  <div id="example-badge-success">
    <span class="badge is-success">Lorem</span>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-badge-success"></code></pre>
  </aside>
</section>

<section>
  <div id="example-badge-warning">
    <span class="badge is-warning">Lorem</span>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-badge-warning"></code></pre>
  </aside>
</section>

<section>
  <div id="example-badge-error">
    <span class="badge is-error">Lorem</span>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-badge-error"></code></pre>
  </aside>
</section>

<section>
  <div id="example-badge-button">
    <button type="button">
      <span>download</span>
      <span class="badge is-info">version 0.1</span>
    </button>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-badge-button"></code></pre>
  </aside>
</section>

<section>
  <div id="example-badge-link">
    <a href="#">
      <span>Notifications</span>
      <span class="badge is-error">10</span>
    </a>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-badge-link"></code></pre>
  </aside>
</section>