---
layout: default
title: Ariato
---
<header>
  <h1>breadcrumb</h1>
  <pre><p><span class="badge is-success">CSS</span> components/breadcrumb.css</pre>
</header>

<section>
  <div id="example-breadcrumb">
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol>
        <li><a href="#">level 1</a></li>
        <li><a href="#">level 2</a></li>
        <li aria-current="page">Current level</li>
      </ol>
    </nav>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-breadcrumb"></code></pre>
  </aside>
</section>


    