---
layout: default
title: Ariato
---
<header>
  <h1>cards</h1>
  <pre><p><span class="badge is-success">CSS</span> components/card.css</p></pre>
</header>

<section>
  <header>Basic card container</header>
  <div id="example-card">
    <!-- choose the most appropriate tag depending on the context: <li> if in a cards list, <section> if independant, ... -->
    <section class="card">
      <h3>heading 3</h3>
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
    </section>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-card"></code></pre>
  </aside>
</section>

<section>
  <header>card with header and footer</header>
  <div id="example-card-1">
    <section class="card">
      <header>header</header>
      <h3>heading 3</h3>
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
      <footer>
        <button class="is-primary">button</button>
        <button class="is-link">cancel</button>
      </footer>
    </section>
  </div> 
  <aside>
    <pre class="language-markup"><code data-code-example="example-card-1"></code></pre>
  </aside>
</section>

<section>
  <header>card with responsive cover picture</header>  
  <div id="example-card-2">
    <section class="card">
      <picture class="is-3-2">
        <source media="(min-width: 640px)" srcset="/assets/images/nasa-moon-medium.jpg 1x, /assets/images/nasa-moon.jpg 2x">
        <source media="(min-width: 320px)" srcset="/assets/images/nasa-moon-small.jpg 1x, /assets/images/nasa-moon-medium.jpg 2x">
        <img src="/assets/images/nasa-moon-small.jpg" alt="A placeholder figure image." />
       </picture>
      <h3>heading 3</h3>
      <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
    </section>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-card-2"></code></pre>
  </aside>
</section>


    