---
layout: default
title: Ariato
---
<header>
  <h1>Grid auto columns</h1>
  <pre><p><span class="badge is-success">CSS</span> layouts/grid_auto.css</p></pre>
</header>

<section>
  <div id="example-grid">
    <ul class="grid-auto">
      <li class="card">
        <h3>heading 3</h3>
        <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
      </li>
      <li class="card">
        <h3>heading 3</h3>
        <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est.</p>
      </li>
      <li class="card">
        <h3>heading 3</h3>
        <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est.</p>
      </li>
      <li class="card">
        <h3>heading 3</h3>
        <p>Lorem ipsum dolor sit amet, adipiscing elit. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
      </li>
      <li class="card">
        <h3>heading 3</h3>
        <p>Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
      </li>
    </ul>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-grid"></code></pre>
  </aside>
</section>






    