---
layout: default
title: Ariato
---
<header>
  <h1>menu</h1>
  <pre><p><span class="badge is-success">CSS</span> components/menu.css</p></pre>
</header>

<section>
  <div id="example-menu">
    <ul role="menu" aria-label="Elements">
      <li role="none"><a href="/buttons" role="menuitem" tabindex="-1">Buttons</a></li>
      <li role="none"><a href="/code" role="menuitem" tabindex="-1">Code</a></li>
      <li role="none"><a href="/forms" role="menuitem" tabindex="-1">Forms</a></li>
      <li role="none"><a href="/images" role="menuitem" tabindex="-1">Images</a></li>
      <li role="none"><a href="/lists" role="menuitem" tabindex="-1">Lists</a></li>
      <li role="none"><a href="/tables" role="menuitem" tabindex="-1">Tables</a></li>
    </ul>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-menu"></code></pre>
  </aside>
</section>