---
layout: default
title: Ariato
---
<header>
  <h1>menubar</h1>
  <pre><p><span class="badge is-success">CSS</span> components/menubar.css <br><span class="badge is-warning">JS</span> ariato/menu_bar.js</p></pre>
</header>

<section>
  <div id="example-menubar">
    <nav aria-label="Menu Bar">
      <ul role="menubar" aria-label="Menu Bar">
        <li role="none">
          <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Elements</a>
          <ul role="menu" aria-label="Elements">
            <li role="none"><a href="/buttons" role="menuitem" tabindex="-1">Button</a></li>
            <li role="none"><a href="/code" role="menuitem" tabindex="-1">Code</a></li>
            <li role="none"><a href="/forms" role="menuitem" tabindex="-1">Form</a></li>
            <li role="none"><a href="/images" role="menuitem" tabindex="-1">Image</a></li>
            <li role="none"><a href="/lists" role="menuitem" tabindex="-1">List</a></li>
            <li role="none"><a href="/tables" role="menuitem" tabindex="-1">Table</a></li>
          </ul>
        </li>
        <li role="none">
          <a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">Elements</a>
          <ul role="menu" aria-label="Elements">
            <li role="none"><a href="/buttons" role="menuitem" tabindex="-1">Button</a></li>
            <li role="none"><a href="/code" role="menuitem" tabindex="-1">Code</a></li>
            <li role="none"><a href="/forms" role="menuitem" tabindex="-1">Form</a></li>
            <li role="none"><a href="/images" role="menuitem" tabindex="-1">Image</a></li>
            <li role="none"><a href="/lists" role="menuitem" tabindex="-1">List</a></li>
            <li role="none"><a href="/tables" role="menuitem" tabindex="-1">Table</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <aside>
    <pre class="language-markup"><code data-code-example="example-menubar"></code></pre>
  </aside>
</section>