---
layout: default
title: Ariato
---
<header>
  <h1>menu</h1>
  <pre><p><span class="badge is-success">CSS</span> components/menu.css</p></pre>
</header>

<section>
  <div id="example-menu">
    <ul role="menu" aria-label="Elements">
      <li role="none"><a href="/elements/button" role="menuitem" tabindex="-1">Buttons</a></li>
      <li role="none"><a href="/elements/code" role="menuitem" tabindex="-1">Code</a></li>
      <li role="none"><a href="/elements/form" role="menuitem" tabindex="-1">Forms</a></li>
      <li role="none"><a href="/elements/image" role="menuitem" tabindex="-1">Images</a></li>
      <li role="none"><a href="/elements/list" role="menuitem" tabindex="-1">Lists</a></li>
      <li role="none"><a href="/elements/tabls" role="menuitem" tabindex="-1">Tables</a></li>
    </ul>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-menu"></code></pre>
  </aside>
</section>

<section>
  <header>class="is-horizontal"</header>
  <div id="example-menu-horizontal">
    <ul role="menu" aria-label="Elements" class="is-horizontal">
      <li role="none"><a href="/elements/button" role="menuitem" tabindex="-1">Buttons</a></li>
      <li role="none"><a href="/elements/code" role="menuitem" tabindex="-1">Code</a></li>
      <li role="none"><a href="/elements/form" role="menuitem" tabindex="-1">Forms</a></li>
      <li role="none"><a href="/elements/image" role="menuitem" tabindex="-1">Images</a></li>
      <li role="none"><a href="/elements/list" role="menuitem" tabindex="-1">Lists</a></li>
      <li role="none"><a href="/elements/table" role="menuitem" tabindex="-1">Tables</a></li>
    </ul>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-menu-horizontal"></code></pre>
  </aside>
</section>