---
layout: default
title: Ariato
---
<header>
  <h1>menubutton</h1>
  <pre><p><span class="badge is-success">CSS</span> components/menubutton.css <br><span class="badge is-warning">JS</span> ariato/menu_button.js</p></pre>
</header>

<section>
  <div id="example-menubutton">
    <div class="menubutton">
      <button type="button" id="menubutton-example" aria-haspopup="true" aria-controls="menubutton-example-menu">Menu button</button>
      <ul id="menubutton-example-menu" role="menu" aria-labelledby="menubutton-example">
        <li role="none">
          <a role="menuitem" href="#" tabindex="-1">link 1</a>
        </li>
        <li role="none">
          <a role="menuitem" href="#" tabindex="-1">link 2</a>
        </li>
        <li role="none">
          <a role="menuitem" href="#" tabindex="-1">link 3</a>
        </li>
      </ul>
    </div>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-menubutton"></code></pre>
  </aside>
</section>