---
layout: default
title: Ariato
---
<header>
  <h1>tab</h1>
  <pre><p><span class="badge is-success">CSS</span> components/tab.css <br><span class="badge is-warning">JS</span> ariato/tablist.js</p></pre>
</header>

<section>  
  <div id="example-tabs">
    <ul role="tablist">
      <li role="tab" aria-controls="tab-1" aria-selected="true">Tab 1</li>
      <li role="tab" aria-controls="tab-2">Tab 2</li>
      <li role="tab" aria-controls="tab-3" aria-disabled="true">Tab 3</li>
      <li role="tab" aria-controls="tab-4">Tab 4</li>
    </ul>
    <div role="tabpanel" id="tab-1">
      <p>Tab 1</p>
    </div>
    <div role="tabpanel" id="tab-2">
      <p>Tab 2</p>
    </div>
    <div role="tabpanel" id="tab-3">
      <p>Tab 3</p>
    </div>
    <div role="tabpanel" id="tab-4">
      <p>Tab 4</p>
    </div>
  </div>
  <aside>
    <pre class="language-markup"><code data-code-example="example-tabs"></code></pre>
  </aside>
</section>
