fieldset.is-checkbox {
  border: 0;
  padding: 0;
  margin: var(--space-3x) 0 0;
  transform: translateY(0);

  & legend {
    display: block;
    transform: translateY(0);
    line-height: var(--space-3x);
    padding: 0;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: var(--font-size-30);
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: rgba(var(--color-grey-500), 1);
    user-select: none;
  }

  & label,
  &  input {
    min-height: var(--space-2x);
    padding: 0;
    font-size: 1rem;
    letter-spacing: 0;
    text-transform: none;
  }

  & label { margin: -2px 2px 2px; }

  & > * + * { margin-top: 0; }
}


input[type="checkbox"],
input[type="radio"] {
  box-shadow: none;
  height: var(--space-2x);
  width: var(--space-2x);
  min-height: var(--space-2x);
  appearance: none;

  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: var(--space-1-2) 0 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(var(--color-grey-200), 1);
  background: rgba(var(--color-bg), 1);
  transition: background .3s, border-color .3s, box-shadow .2s;

  &[disabled] {
    & + span {
      color: rgba(var(--color-grey-300), 1);
      display: inline-block;
    }
  }

  &:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    opacity: var(--o, 0);
  }

  &:checked {
    background: rgba(var(--color-info-500), 1);
    border-color: rgba(var(--color-info-200), 1);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  &:disabled {
    background: rgba(var(--color-grey-200), 1);
    cursor: not-allowed;

    & + label { cursor: not-allowed; }
    &:checked { border-color: rgba(var(--color-grey-200), 1); }
  }

  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        border-color: rgba(var(--color-grey-300), 1);
      }
    }
  }

  &:focus {
    border-color: rgba(var(--color-info-300), 1);
    box-shadow: 0 0 0 2px rgba(var(--color-info-200), 1);
  }

}

input[type='checkbox'] {
  border-radius: var(--border-radius-m);
  width: var(--space-2x);

  &:after {
    width: 6px;
    height: 10px;
    border: 2px solid rgba(var(--color-grey-00), 1);
    border-top: 0;
    border-left: 0;
    left: 5px;
    top: 0px;
    transform: rotate(var(--r, 15deg));
    opacity: var(--o, 0);
  }

  &:checked {
    --r: 45deg;
    --o: 1;
  }
}

input[type='radio'] {
  border-radius: 50%;
  width: var(--space-2x);
  &:after {
    width: var(--space-2x);
    height: var(--space-2x);
    border-radius: 50%;
    background: rgba(var(--color-info-20), 1);
    opacity: 0;
    left: -1px;
    top: -1px;
    transform: scale(var(--s, 1));
    opacity: var(--o, 0);
  }
  &:checked {
    --s: .5;
    --o: 1;
  }
}