progress[value]  {
  appearance: none;
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-s, 0);
  color: var(--color-info-500); 
  width: 100%;
  height: var(--space-2x);
  margin: calc(var(--space-2x) - 4px) 0 2px;

  &::-webkit-progress-bar {
    background-color: var(--color-grey-35);
    border-radius: var(--border-radius-s, 0);
    box-shadow: var(--box-inset-shadow-s);
  }

  &::-webkit-progress-value {
    background-color: var(--color-info-500);
    border-radius: 1px;
    box-shadow: var(--box-inset-shadow-s);
  }
}