input[type=range] {
  appearance: none;
  margin: 0;
  width: 100%;
  background: transparent;
  border: 0;
  box-shadow: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--space);
    cursor: pointer;
    background: var(--color-grey-35);
    border: 1px solid var(--color-grey-200);
    border-radius: var(--border-radius-m);
    outline: 0 none;
    box-shadow: var(--box-inset-shadow-s);
  }
  &::-webkit-slider-thumb {
    display: block;
    box-shadow: 
      0 -1px 1px 0 var(--color-shadow) inset,
      0 1px 1px 0 var(--color-light) inset,  
      var(--box-shadow-m);
    border: 1px solid var(--color-grey-500);
    height: var(--space-3x);
    width: var(--space-3x);
    border-radius: 50%;
    background: var(--color-grey-200);
    cursor: pointer;
    appearance: none;
    margin-top: -9px;
  }
  &:focus::-webkit-slider-runnable-track { background: var(--color-grey-50); }

  &::-moz-range-track {
    width: 100%;
    height: var(--space);
    cursor: pointer;
    background: var(--color-grey-35);
    border-radius:var(--border-radius-m, 0);
    border: 1px solid var(--color-grey-200);
    box-shadow: var(--box-inset-shadow-s);
  }
  &::-moz-range-thumb {
    height: 24px;
    width: 24px;
    box-shadow:
      0 -1px 1px 0 var(--color-shadow) inset,
      0 1px 1px 0 var(--color-light) inset,  
      var(--box-shadow-m);
    border: 1px solid var(--color-grey-500);
  
    border-radius: 50%;
    background: var(--color-grey-200);
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: var(--space);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: var(--color-info-500);
    border: 0.2px solid var(--color-grey-200);
    border-radius: 3.6px;
    box-shadow: 1px 1px 1px var(--color-shadow), 0px 0px 1px var(--color-grey-200);
  }
  &::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid var(--color-grey-200);
    border-radius: 3.6px;
    box-shadow: 1px 1px 1px var(--color-shadow), 0px 0px 1px var(--color-grey-20);
  }
  &::-ms-thumb {
    box-shadow: 1px 1px 1px var(--color-shadow), 0px 0px 1px var(--color-grey-20);
    border: 1px solid var(--color-grey-200);
    height: 36px;
    width: 16px;
    border-radius: var(--border-radius-m, 0);
    background: var(--color-grey-20);
    cursor: pointer;
  }
  &:focus::-ms-fill-lower { background: var(--color-info-500); }
  &:focus::-ms-fill-upper { background: var(--color-info-100); }
}