<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ariato</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="{{ 'assets/images/favicon.ico' | relative_url }}"><!-- 32×32 -->
    <link rel="icon" href="{{ 'assets/images/ariato.svg' | relative_url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ 'assets/images/apple-touch-icon.png' | relative_url }}"><!-- 180×180 -->
    <link rel="manifest" href="{{ 'assets/images/site.webmanifest' | relative_url }}">

    <link rel="stylesheet" href="{{ 'assets/css/ariato.css' | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ 'assets/css/site.css' | relative_url }}" type="text/css">
    
    <script src="{{ 'assets/javascript/ariato.js' | relative_url }}"></script>
    <script src="{{ 'assets/javascript/application.js' | relative_url }}"></script>
    <script src="{{ 'assets/javascript/prism.js' | relative_url }}"></script>

    <script async defer data-domain="ariato.org" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body id="styleguide" class="guidelines">
    {% include header.html %}
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include aside.html %}
    {% include footer.html %}
  </body>
</html>