button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"],
:any-link[role="button"],
.button {
  display: inline-flex;
  gap: var(--space);
  width: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: transparent;
  min-height: var(--space-5x);
  margin: 0;
  padding: var(--space) calc(var(--space) * 2);
  border: none;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset, var(--box-shadow-s);
  outline: 0;
  color: rgba(var(--color-grey-700), 1);
  font: inherit;
  font-family: inherit;
  font-size: var(--font-size-40);
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: var(--space-3x);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: var(--text-shadow-s);

  @media screen and (-ms-high-contrast: active) { border: 2px solid currentcolor; }

  &:hover,
  &:active {
    color: rgba(var(--color-grey-800), 1);
    box-shadow: 0 0 0 1px rgba(var(--color-grey-300), 1) inset, var(--box-shadow-s);
    transition: 0.2s all ease-in-out;
  }

  &:focus {
    outline: 2px solid rgba(var(--color-info-200), 1);
    border: 0;
    color: rgba(var(--color-grey-900), 1);
    z-index: 1;
    &:not(:focus-visible) { outline: none; }
  }

  & svg {
    height: calc(var(--space) * 2);
    width: calc(var(--space) * 2);
    display: inline-block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2; 
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &[type="reset"],
  &.is-reset {
    color: rgba(var(--color-danger-500), 1);

    &:hover,
    &:active {
      background: rgba(var(--color-danger-500), 1);
      color: rgba(var(--color-danger-20), 1);
      box-shadow: 0 0 0 1px rgba(var(--color-danger-600), 1) inset, var(--box-shadow-s);
    }
    &:focus {
      background: rgba(var(--color-danger-500), 1);
      color: rgba(var(--color-danger-20), 1);
      outline: 2px solid rgba(var(--color-danger-200), 1);
    }
  }

  &[aria-expanded="true"] {
    background: rgba(var(--color-grey-00), 1);
    color: rgba(var(--color-grey-600), 1);
    box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset, var(--box-inset-shadow-m);
  }

  &[aria-pressed="true"] {
    background: rgba(var(--color-grey-100), 1);
    color: rgba(var(--color-info-600), 1);
    box-shadow: 0 0 0 1px rgba(var(--color-grey-200), 1) inset, var(--box-inset-shadow-m);
  }

  &.is-block { width: 100%; }

  &.is-strong {
    background: rgba(var(--color-grey-700), 1);
    background: var(--gradient-top-grey-60);
    color: rgba(var(--color-bg), 1);
    box-shadow: 
      0 -1px 1px 0 rgba(var(--color-black), 0.04) inset,
      0 1px 1px 0 rgba(255,255,255, .04) inset,
      var(--box-shadow-m);

    &:hover,
    &:active {
      background: rgba(var(--color-grey-800), 1);
      background: var(--gradient-top-grey-70);
      color: rgba(var(--color-bg), 1);
      box-shadow: 0 -1px 1px 0 rgba(var(--color-black), 0.04) inset,
          0 1px 1px 0 rgba(255,255,255, .04) inset,
          var(--box-shadow-m);
    }
    &:focus { color: rgba(var(--color-bg), 1); }
  }

  &.is-link {
    background: transparent;
    color: rgba(var(--color-grey-500), 1);
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;

    &:hover,
    &:active {
      background: transparent;
      color: rgba(var(--color-grey-700), 1);
      box-shadow: none;
    }
    &:focus { color: rgba(var(--color-grey-700), 1); }
  }

  &.is-icon svg { margin: var(--space-1-2) calc(var(--space) * -0.5); }

  &.is-small {
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-30);
    line-height: var(--space-3x);
    min-height: var(--space-3x);
    padding: 0 calc(var(--space) * 1.5);

    & svg {
      height: var(--space);
      width: var(--space);
    }

    &.is-icon svg {
      margin: 0 calc(var(--space) * -1);
    }
  }

  &.is-large {
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-50);
    line-height: calc(var(--space) * 6);
    min-height: calc(var(--space) * 8);
    padding: var(--space) calc(var(--space) * 3);

    & svg {
      height: var(--space-3x);
      width: var(--space-3x);
    }

    &.is-icon svg {
      margin: 0 calc(var(--space) * -0.5);
    }
  }
}