button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"],
:any-link[role="button"],
.button {
  display: inline-flex;
  gap: var(--space);
  width: auto;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: transparent;
  min-height: var(--space-5x);
  margin: 0;
  padding: var(--space) calc(var(--space) * 2);
  border: none;
  border-radius: var(--border-radius-s, 0);
  box-shadow: 0 0 0 1px var(--color-grey-200) inset, var(--box-shadow-s);
  outline: 0;
  color: var(--color-grey-700);
  font: inherit;
  font-family: inherit;
  font-size: var(--font-size-40);
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: var(--space-3x);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @media screen and (-ms-high-contrast: active) { border: 2px solid currentcolor; }

  &:hover,
  &:active {
    color: var(--color-grey-800);
    box-shadow: 0 0 0 1px var(--color-grey-300) inset, var(--box-shadow-s);
    transition: 0.2s all ease-in-out;
  }

  &:focus {
    outline: 2px solid var(--color-info-200);
    border: 0;
    color: var(--color-grey-900);
    z-index: 1;
    &:not(:focus-visible) { outline: none; }
  }

  & svg {
    height: calc(var(--space) * 2);
    width: calc(var(--space) * 2);
    display: inline-block;
    fill: none;
    stroke: currentColor;
    stroke-width: 2; 
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &[type="reset"],
  &.is-reset {
    color: var(--color-danger-500);

    &:hover,
    &:active {
      background: var(--color-danger-500);
      color: var(--color-grey-20);
      box-shadow: 0 0 0 1px var(--color-danger-600) inset, var(--box-shadow-s);
    }
    &:focus {
      background: var(--color-danger-500);
      color: var(--color-grey-20);
      outline: 2px solid var(--color-danger-200);
    }
  }

  &[aria-expanded="true"] {
    background: var(--color-grey-00);
    color: var(--color-grey-600);
    box-shadow: 0 0 0 1px var(--color-grey-200) inset, var(--box-inset-shadow-m);
  }

  &[aria-pressed="true"] {
    background: var(--color-grey-100);
    color: var(--color-info-600);
    box-shadow: 0 0 0 1px var(--color-grey-200) inset, var(--box-inset-shadow-m);
  }

  &.is-block { width: 100%; }

  &.is-strong {
    background: var(--color-grey-700);
    background: linear-gradient(180deg, var(--color-grey-600), oklch(from var(--color-grey-600) calc(l - 0.07) c h));
    color: var(--color-grey-20);
    box-shadow: 
      0 -1px 1px 0 var(--color-shadow) inset,
      0 1px 2px 0 var(--color-light) inset,
      var(--box-shadow-m);

    &:hover,
    &:active {
      background: var(--color-grey-800);
      background: linear-gradient(180deg, var(--color-grey-700), oklch(from var(--color-grey-700) calc(l - 0.07) c h));
      color: var(--color-grey-20);
      box-shadow: 0 -1px 1px 0 var(--color-shadow) inset,
          0 1px 2px 0 var(--color-light) inset,
          var(--box-shadow-m);
    }
    &:focus { color: var(--color-grey-20); }
  }

  &.is-link {
    background: transparent;
    color: var(--color-grey-500);
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;

    &:hover,
    &:active {
      background: transparent;
      color: var(--color-grey-700);
      box-shadow: none;
    }
    &:focus { color: var(--color-grey-700); }
  }

  &.is-icon svg { margin: var(--space-1-2) calc(var(--space) * -0.5); }

  &.is-small {
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-30);
    line-height: var(--space-3x);
    min-height: var(--space-3x);
    padding: 0 calc(var(--space) * 1.5);

    & svg {
      height: var(--space);
      width: var(--space);
    }

    &.is-icon svg {
      margin: 0 calc(var(--space) * -1);
    }
  }

  &.is-large {
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-50);
    line-height: calc(var(--space) * 6);
    min-height: calc(var(--space) * 8);
    padding: var(--space) calc(var(--space) * 3);

    & svg {
      height: var(--space-3x);
      width: var(--space-3x);
    }

    &.is-icon svg {
      margin: 0 calc(var(--space) * -0.5);
    }
  }
}