code,
pre {
  font-family: var(--font-mono);
  color: var(--color-grey-500);
  font-size: 0.92em;
  line-height: 1.5;
  overflow-y: auto;
  word-wrap: normal;
  white-space: pre-wrap;
	word-spacing: normal;
  word-break: normal;
  margin: 0;
}

code { background: var(--color-grey-50); }

pre {
  padding: calc(var(--space) * 1 - 1px) 0 calc(var(--space) * 2 + 1px);

  & p { 
    padding: 0 0 var(--space-3x);
    font-family: inherit;
    font-size: inherit;
  }
}