code,
pre {
  font-family: var(--font-mono);
  color: rgba(var(--color-grey-500), 1);
  font-size: inherit;
  line-height: inherit;
  overflow-y: auto;
  word-wrap: normal;
  white-space: pre-wrap;
	word-spacing: normal;
  word-break: normal;
  margin: 0;
}

code {
  background: rgba(var(--color-grey-50), 1);
}

pre {
  padding: calc(var(--space) * 1 - 1px) 0 calc(var(--space) * 2 + 1px);
}
  
pre p { 
  padding: 0 0 var(--space-3x);
  font-family: inherit;
  font-size: inherit;
}