form {
  overflow: visible;
  width: 100%;;
  & > * + * { margin-top: var(--space-3x); }
  & *[hidden] { margin: 0; }
}

fieldset {
  padding: 0 var(--space-3x) var(--space-3x);
  margin-inline: 0;
  border: 1px solid var(--color-grey-50);
  overflow: visible;
  & > * + * { margin-top: var(--space-3x); }
}

legend {
  transform: translateY(-2px);
  margin: calc(var(--space-3x) * -1) auto 0;
}

label {
  display: block;
  line-height: var(--space-3x);
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: var(--font-size-30);
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--color-grey-500);
  -webkit-user-select: none;

  & small {
    text-transform: none;
    letter-spacing: 0; 
  }
}

input,
select,
textarea,
output {
  display: block;
  width: 100%;
  background-color: var(--color-grey-00);
  min-height: var(--space-5x);
  padding: calc(var(--space) - 1px) calc(var(--space-2x) - 1px);
  margin: 0;
  border: 1px solid var(--color-grey-50);
  border-radius: var(--border-radius-s, 0);
  outline: 0 none;
  box-shadow: var(--box-inset-shadow-s);
  color: var(--color-grey-600);
  font-family: inherit;
  font-size: var(--base-font-size);
  line-height: var(--space-3x);

  &:focus {
    outline: 0 none;
    border-color: var(--color-info-400);
    box-shadow: 0 0 0 2px var(--color-info-200), var(--box-shadow-s);
    &:not(:focus-visible) { outline: none; }
  }

  &[disabled] {
    border-color: var(--color-grey-100);
    color: var(--color-grey-400);
    background-color: var(--color-grey-100);
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
  }

  &[readonly] {
    border: 1px dashed var(--color-grey-200);
    cursor: not-allowed;
    color: var(--color-grey-500);
    background-color: transparent;
    box-shadow: none;
  }

  &:-internal-autofill-selected {
    font-size: var(--base-font-size);
    background-color: var(--color-success-100) !important;
  }

  &:-webkit-autofill {  
    &:focus,
    &:hover {
      border-color:var(--color-info-200);
      font-size: var(--base-font-size);
      -webkit-text-fill-color:var(--color-info-700);
      -webkit-box-shadow: 0 0 0px 1000px var(--color-info-100) inset;
      box-shadow: 0 0 0px 1000px var(--color-info-100) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  label + & { margin-top: 0; }
}

::placeholder { color: var(--color-grey-300); }

textarea,
select[multiple] {
  min-height: calc(var(--space) * 11);
}

textarea { resize: vertical; }

input[type="file"],
input[type="date"],
input[type="time"] {
  height: var(--space-5x);
}

input[type="date"],
input[type="time"],
input[type="tel"],
input[type="number"] {
  max-width: 16ch;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: .8;
  .theme-dark & { filter: invert(0.5); }
}

input[type="color"] {
  max-width: var(--space-5x);
  padding: 0;
  position: relative;
}