a:any-link {
  color: var(--color-info-500);
  text-decoration: underline;

  &:hover { color: var(--color-info-600); }

  &[target="_blank"] { 
    padding-right: 16px;
    position: relative;
    display: inline-block;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
    }
    &::before {
      background: currentColor;
      transform: rotate(-45deg);
      top: 50%;
      height: 2px;
      width: 12px;
    }
    &::after {
      width: 8px;
      height: 8px;
      border-right: 2px solid;
      border-top: 2px solid;
      top: calc(50% - 5px);
    }
  }

  &.is-icon[target="_blank"] {
    padding-right: 0;
    &::after,
    &::before {
      content: none;
      background: none;
      width: 0;
      height: 0;
    }
  }
}
