a:any-link {
  /* Selects any element that would be matched by :link or :visited */
  color: rgba(var(--color-blue-500, inherit), 1);
  text-decoration: underline;
}

a:any-link:hover {
  color: rgba(var(--color-blue-600), 1);
}

/* external links */
a:any-link[target="_blank"] { 
  padding-right: 16px;
  position: relative;
  display: inline-block;
}

/* Arrow to signify external links */
a:any-link[target="_blank"]::after,
a:any-link[target="_blank"]::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}

a:any-link[target="_blank"]::before {
  background: currentColor;
  transform: rotate(-45deg);
  top: 50%;
  height: 2px;
  width: 12px;
}

a:any-link[target="_blank"]::after {
  width: 8px;
  height: 8px;
  border-right: 2px solid;
  border-top: 2px solid;
  top: calc(50% - 5px);
  }

  
/**************************/ 
/* icon external link */
/**************************/ 

a:any-link.is-icon[target="_blank"] { /* external links */
  padding-right: 0;
}
  
/* Arrow to signify external links */
a:any-link.is-icon[target="_blank"]::after,
a:any-link.is-icon[target="_blank"]::before {
  content: none;
  background: none;
  width: 0;
  height: 0;
}
