table {
  width: 100%;
  padding: 0;
	border-spacing: 0;
}

thead {
  box-shadow: 0 -1px 0 0 var(--color-grey-50) inset;
}

tfoot {
  box-shadow: 0 -1px 0 0 var(--color-grey-50);
}

caption {
  color: var(--color-grey-500);
  padding: 6px 0 18px;
}

th {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--font-size-30);
  letter-spacing: 0.03em;
  transform: translateY(2px);
  padding: 12px 24px;
  text-align: left;
  color: var(--color-grey-500);
}

tbody tr {
  box-shadow: 0 -1px 0 0 var(--color-grey-50) inset;
  &:hover { background: var(--color-grey-50); }
}

td {
  color: var(--color-grey-500);
  padding: 12px 24px;
}

th.is-right,
td.is-right {
  text-align: right;
}