::-moz-selection,
::selection {
  background: rgba(var(--color-info-100), 1);
  color: rgba(var(--color-info-700), 1);
  text-shadow: none;
}

p {
  margin: 0;
  padding: calc(var(--space) - 2px) 0 calc(var(--space-2x) + 2px);

  &.is-large {
    font-size: var(--font-size-70);
    line-height: var(--space-4x);
    padding: var(--space) 0 var(--space-2x); /*  adjust baseline */
  }

  & + :not(p) {
    margin-top: var(--space-3x);
  }

  & code,
  & kbd,
  & samp,
  & small {
    line-height: 0;
  }
}

h1,
.is-h1 {
  display: inline-block;
  margin: 0;
  padding: calc(var(--space-2x) + 2px) 0 calc(var(--space) - 2px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-110);
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: var(--space-7x);
  text-transform: none;
}

h2,
.is-h2 {
  margin: 0;
  padding: calc(var(--space) + 1px) 0 calc(var(--space-2x) - 1px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-100);
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: var(--space-6x);
  text-transform: none;
}

* + h2,
* + .is-h2  {
  margin-top: var(--space-3x);
}

h3,
.is-h3 {
  margin: 0;
  padding: calc(var(--space) - 3px) 0 calc(var(--space-2x) + 3px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-60);
  font-weight: 700;
  letter-spacing: 0;
  line-height: var(--space-3x);
  text-transform: none;
}

h4,
.is-h4 {
  margin: 0;
  padding: calc(var(--space) - 1px) 0 calc(var(--space-2x) + 1px);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-40);
  letter-spacing: 0.1rem;
  line-height: var(--space-3x);
  text-transform: uppercase;

  & + p { margin-top: -24px; }
}

strong {
  color: rgba(var(--color-grey-700), 1);
  font-weight: inherit;
}

small {
  font-size: var(--font-size-30);
  font-weight: 400;
  text-transform: none;
  color: rgba(var(--color-grey-400), 1);
}

hr {
  height: var(--space-3x);
  margin: 0;
  padding: var(--space-3x) 0 calc(var(--space-3x) - 1px);
  background: transparent;
  border: 0;
  box-shadow: 0 -1px 0 0 rgba(var(--color-grey-50), 1);
}

blockquote {
  margin: 0;
  padding: var(--space-2x) 0 var(--space) calc(var(--space-2x) + 2px);
  border-left: calc(var(--space) / 2) solid rgba(var(--color-grey-100), 1);
  color: rgba(var(--color-grey-500), 1);
  font-family: var(--font-serif);
  font-size: var(--font-size-80);
  font-style: italic;
  line-height: var(--space-4x);

  & q,
  & p {
    display: block;
    color: rgba(var(--color-danger-500), 1); 
  }
  & * + *,
  & + * { margin-top: var(--space-3x); }
  
}

cite {
  position: relative;
  display: inline-block;
  margin: 0;
  top: 0;
  font-size: var(--font-size-50);
  font-style: normal;
  line-height: 0;
  font-weight: var(--font-weight-700);
}

sub,
sup {
  line-height: 0; /* prevent line height shift */
}

kbd {
  padding: 0 var(--space-1-2);
  background-color: rgba(var(--color-grey-50), 1);
  box-shadow: 
  0 0 0 1px rgba(var(--color-grey-300), 1),
  var(--box-shadow-m);
  border-radius: var(--space-1-2);
  color: rgba(var(--color-grey-700), 1);
  font-size: var(--font-size-40);
  line-height: var(--space-3x);
  white-space: nowrap;
  text-transform: uppercase;
  font-family: var(--font-mono);
  font-weight: 700;
}

q { font-style: italic; }

mark {
  background-color: rgba(var(--color-warning-200), 1);
  color: rgba(var(--color-warning-600), 1);
}

details {
  display: block;
  background: rgba(var(--color-grey-35), 1);
  box-shadow: 0 0 0 1px rgba(var(--color-grey-50), 1) inset,
  var(--box-shadow-s);
  border-radius: var(--border-radius-m, 0);
  color: rgba(var(--color-grey-700), 1);

  & p {
    margin-top: calc(var(--space) * 1);
    padding: 6px var(--space-2x) 18px;
  }
  p + & { margin-top: var(--space-3x); }
}

summary {
  outline: 0 none;
  padding: 6px var(--space-2x) 10px;
  cursor: pointer;

  &:focus {
    outline: 0 none;
    border: 0;
  }
}